.btn{
    padding: 16px 26px;
    font-size: 15px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    text-decoration: none;
    background:#BA4270;
    margin-left: auto;
    @include displeyFlexSetter(center, center);
    

    &--green{ 
        color:#FBFCFE;

        &:active{
            background: #DA6D97;
        }
    }
}