header{
    @include displeyFlexSetter(start, center);
    
    .logo{
        img{
            display: flex;
        }
    }

    .nav{
        display: flex;
        list-style: none;
        &__item{
            display: flex;
            &__link{
                margin: 0 40px;
                font-size: 20px;
                color: #36536B;
                opacity: 0.7;
                text-decoration: none;
                position: relative;
                &:hover{
                    color: #36536B;
                    opacity: 1;
                }
                &::after{
                    content: "";
                    position: absolute;  
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity .5s ease-in-out;
                }
                &:active::after{
                    opacity: 1;

                }
            }
    
        }
    }
}

@media screen and (min-width: 770px){
    header{
        @include displeyFlexSetter(start, center);
        
        .logo{
            img{
                display: flex;
            }
        }
    
        .nav{
            display: flex;
            list-style: none;
            &__item{
                display: flex;
                &__link{
                    margin: 0 40px;
                    font-size: 20px;
                    color: #36536B;
                    opacity: 0.7;
                    text-decoration: none;
                    position: relative;
                    &:hover{
                        color: #36536B;
                        opacity: 1;
                    }
                    &::after{
                        content: "";
                        position: absolute;  
                        width: 100%;
                        height: 4px;
                        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        transition: opacity .5s ease-in-out;
                    }
                    &:active::after{
                        opacity: 1;
    
                    }
                }
        
            }
        }
    }    
}
    
